html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#page-container {
  display: grid;
  grid-template-columns: auto 0; /*sets width of child items: map and side-container; side-container starts at 0*/
  overflow: hidden;
}

#map {
  display: flex;
  height: 100vh;
  position: relative; /* All items positioned 'absolute' are relative to this map div */
}

#app-title {
  display: block;
  position: absolute;
  z-index: 100;
  top: 10px;
  left: 50px;
  background-color: #fff;
  padding: 10px;
  border: 5px solid red;
  border-radius: 4px;
}

#info-button {
  display: block;
  position: absolute;
  z-index: 100;
  top: 180px;
  left: 50px;
  background-color: orange;
  padding: 10px;
  border: 5px solid red;
  border-radius: 4px;
}

#side-container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto auto; /*sets height of child items: pac-card and panel*/
  background-image: linear-gradient(30deg, #fff, aliceblue);
  background-color: #fff;
  overflow: hidden;
}

#panel {
  overflow: auto;
  transition: all 0.2s ease-out;
}

#pac-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  max-width: 350px;
  min-width: 280px;
  /*height: 130px;*/
  display: block;
  position: absolute;
  z-index: 100;
  top: 10px;
  right: 10px;
}

/*
#panel.open {
  flex-basis: auto;
}
*/

#panel .place {
  font-family: "open sans", arial, sans-serif;
  font-size: 0.9em; 
  font-weight: bold; 
  margin: 5px 0;
  padding-left: 18px;
  padding-right: 18px;
}

#panel .distanceText {
  font-family: "open sans", arial, sans-serif;
  font-size: 0.9em; 
  font-weight: 400; 
  color: rgb(151, 151, 151); 
  margin: 5px 0;
  padding-left: 18px;
  padding-right: 18px;
}

#pac-container {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 12px;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  width: calc(100% - 22px);
  margin: 0;
  padding: 0 11px;
  text-overflow: ellipsis;
  border: 1px solid #ccc;}

#pac-input:focus {
  border-color: #4d90fe;
}

#pac-title {
  font-family: "open sans", arial, sans-serif;
  color: #fff;
  background-color: #acbcc9;
  font-size: 18px;
  font-weight: 400;
  padding: 6px 12px;
  border-radius: 5px 5px 0 0;
}

.hidden {
  display: none;
}

.panel-title {
  font-family: "open sans", arial, sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: #acbcc9;
  font-size: 18px;
  font-weight: 400;
  padding: 6px 12px;
  margin: 0 !important;
}

.station-row {
  border-bottom: 1px solid #e0e0e0; /* Light grey border */
  padding: 10px;
  margin-bottom: 3px; /* Space between rows */
  background-color: #fff;
}

.station-row:last-child {
  border-bottom: none; /* Remove border for the last row */
}

.station-row:hover {
  cursor: pointer;
  background-color: #dadada; /* light grey background on hover for indication */
}

.custom-map-control-button {
  background-color: #4285F4; /* Google blue */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 10px;
  font-size: 14px;
  cursor: pointer;
}

.custom-map-control-button:hover {
  background-color: #357ae8; /* Darker blue on hover */
}

/* Mobile Responsiveness */
@media screen and (max-width: 600px) {
  #pac-card, #panel {
    max-width: 95%;
    left: 50%;
    transform: translateX(-50%);
  }

  #panel {
    top: initial; /* Resets top positioning for mobile */
    max-height: 50vh; /* Adjust for smaller screens */
  }
}/* Mobile Responsiveness */
@media screen and (max-width: 600px) {
  #side-container {
    width: 100%;
    max-width: none;
  }

  #map, #side-container {
    order: 1;
  }

  #panel {
    max-height: 50vh; /* Adjust for smaller screens */
  }
}